// Fichier abstracts
@import "./abstracts/variables";
// Fichier base
@import "./base/typographie";
// Fichier components
@import "./components/buttons";
@import "./components/input";
// Fichier layouts
@import "./layout/navbar";
@import "./layout/hero";
@import "./layout/modal";
@import "./layout/footer";
//Fichier pages
@import "./pages/_accueil";
@import "./pages/_programmations";
@import "./pages/_infos-pratiques";
@import "./pages/mentions-legales";

html,
body {
    height: 100%;
    font-family: "Playfair Display", serif;
}

body {
    background-color: $white;
    color: $black;
}

a {
    transition: color 0.3s ease;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

main {
    min-height: calc(100vh - 56px);
}